* {
  box-sizing: border-box;
}

:root {
  --font-hero__heading: Inter, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/*================= Common =================*/
.main-content {
  width: 1440px;
  max-width: calc(100% - 80px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

a:hover {
  color: #60b004;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 17px;
  gap: 12px;
  min-width: 166px;
  border-radius: 999px;
  border: 1px solid #c31414;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.7rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.break-all {
  word-break: break-all;
}

/*================= login =================*/
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  border: 1px solid #ccc;
}

.logo {
  width: 180px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 50px;
  letter-spacing: 0%;
  margin-bottom: 15px;
}

.input-group {
  text-align: left;
  margin-bottom: 25px;
}

.input-group label {
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0%;
  display: block;
  margin-bottom: 10px;
}

.badge {
  color: red;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.6rem;
}

.password-wrapper {
  position: relative;
}

#togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

#togglePassword img {
  width: 20px;
}

.btn-login {
  background-color: #f0ecec;
  border: none;
  padding: 13px 40px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 20px;
}

.btn-login:hover {
  background-color: #c5f1f0;
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.return-login {
  text-align: right;
  font-size: 12px;
  margin-top: 20px;
}

.return-login a {
  text-decoration: none;
  color: #007bff;
  font-weight: 400;
  font-size: 1.4rem;
}

.register {
  margin-top: 35px;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.register a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}

.register a:hover {
  color: #007bff;
}

.error-message {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
/* Thông báo lỗi/góc trên bên phải */
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.notification.error {
  background: red;
}

.notification.success {
  background: green;
}

.password-wrapper {
  position: relative;
}

#toggleOldPassword,
#toggleNewPassword,
#toggleConfirmPassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

#toggleOldPassword img,
#toggleNewPassword img,
#toggleConfirmPassword img {
  width: 20px;
}
